
%h1 Set permissions

= form_tag admin_update_permissions_path do
  = label :permissions, "email", "Email:"
  = text_field :permissions, "email"
  = label :permissions, "status", "student"
  = radio_button :permissions, "status", "student"
  = label :permissions, "status", "HKN admin"
  = radio_button :permissions, "status", "HKN admin"
  = label :permissions, "status", "Professor"
  = radio_button :permissions, "status", "Professor" 
  = label :permissions, "status", "TA" 
  = radio_button :permissions, "status", "TA"

  = submit_tag 'Submit'