-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{ :class => ('active-sort' if @sortBy == :title) }= link_to 'Movie Title', movies_path(:sortBy => :title)
      %th{ :class => ('active-sort' if @sortBy == :rating) }= link_to 'Rating', movies_path(:sortBy => :rating) 
      %th{ :class => ('active-sort' if @sortBy == :release_date) }= link_to 'Release Date', movies_path(:sortBy => :release_date)
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
