- # in app/views/submissions_controller/index.html.haml

%h1 DK-tracking Form

%table#movies
  - if user_signed_in?
    = "Logged in as #{current_user.email}"
    = link_to 'Edit profile', edit_user_registration_path
    = link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    = link_to 'sign_up', new_user_registration_path
    = link_to 'Login', new_user_session_path
  = yield
  %thead
    %tr
      %th Forms
  %tbody
    %tr
      %th= link_to "Template 1", new_submission_path

