!!! 5
%html
  %head
    %title Survey Oski Admin Dashboard
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'dashboard'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %span
      = flash[:notice]
    %nav.nav
      %ul.admin_links
        %li
          = link_to "Update permissions", admin_add_user_path
        %li
          = link_to "Test 2", "/test2"

    #main
      = yield

    %nav.nav
      %ul
        %li
          = link_to "Logout", "/logout"